html, body {
  margin: 0;
  font-family: arial, "Microsoft YaHei";
  /* background-color: #272822; */
  /* color: #FEFEFE; */
}

/* .container {
  position: relative;
}

.upload-container {
  position: absolute;
  top: 0;
}

.audio-controll-container {
  position: absolute;
  bottom: 0px;
  right: 0;
} */